
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice Template</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
      .sender-section { background-color: white; color: black; border: 1px solid
      #ccc; text-align: left; padding-left: 10px; margin: 0 auto; max-width:
      633px; } .container { border: 1px solid #ccc; padding: 20px; max-width:
      600px; margin: 0 auto; } ul { list-style-type: none; padding: 0; } li {
      margin-bottom: 10px; } p { margin-bottom: 15px; } footer { margin-top:
      20px; border-top: 1px solid #ccc; padding-top: 10px; } .header {
      background-color: #0f012c; padding: 10px; font-style: italic; color:white;
      max-width: 623px; margin: 0 auto; text-align: center; }
    </style>
  </head>
  <body>
    <div class="sender-section">
      <p>{{sender}}</p>
    </div>
    <div class="header">

      <h1>XInvoicely</h1>
    </div>
    <div class="container">
      <p>Hi Dear! {{receiver}},</p>

      <p>A new invoice has been generated from XInvoicely for you. Here's a
        quick summary:</p>

      <ul>
        <li><strong>Invoice Details:</strong></li>
        <li>Description: {{description}}</li>
        <li>Quantity: {{quantity}}</li>
        <li>Amount: {{amount}}</li>
        <li>Total Invoice Amount: {{total}}</li>
        <li>Due Date: {{invoiceDueDate}}</li>
      </ul>

      <p>You can view the invoice or download a PDF copy of it from the
        following link:
        {{!-- {{http://localhost:3010/pdf/generate?userId=65aa78568d6f3d1a7f909e1c&businessId=65ae51d686cd12e52252859d&invoiceId=65b35e67f7201b0951c95bfa}}</p> --}}
<p>Click the following link: <a href="http://localhost:3010/pdf/generate?userId=65aa78568d6f3d1a7f909e1c&businessId=65ae51d686cd12e52252859d&invoiceId=65b35e67f7201b0951c95bfa" target="_blank">Generate PDF</a></p>

      <footer>
        <p>Best regards, {{sender}}</p>
      </footer>
    </div>
  </body>
</html>